{% extends "myreadings/base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container">

	<!-- Left Col -->
	<div class="col-sm-9">
		<!-- Books -->
		<div class="row">
			<h4><span class="label label-info">Books - [{{search_param.total_books}}]</span></h4>
			<div class="col-sm-12">
				<table class="table table-striped table-hover table-condensed" id="book-search-table">
					<thead>
						<tr>
							<th class="title">Title</th>
							<th class="author">Author</th>
							<th class="publisher">Publisher</th>
							<th class="ebook">Ebook</th>
							<th class="currently-reading">Curr. reading</th>
							<th class="borrowed">Borr.</th>
							<th class="read-rate">R&amp;R</th>
							<th class="edit">&nbsp;</th>
							<th class="delete">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for b in books %}
						<tr>
							<td class="title"><a href="/myreadings/book/{{b.id}}/details/">{{b.title}}</a></td>
							<td class="author">
								{% for a in b.author_set.all %}
									<a href="/myreadings/book/author/{{a.id}}/">{{a.author}}</a>{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</td>
							<td class="publisher"><a href="/myreadings/book/publisher/{{b.publisher.id}}/">{{b.publisher}}</a></td>
							<td class="ebook">{% if b.ebook %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
							<td class="currently-reading">{% if b.currently_reading %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
							<td class="borrowed">{% if b.borrowed %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
							<td class="read-rate text-center"><a onclick="javascript:b.showReadRateBook({{b.id}}, this)">
								<span class="glyphicon {% if b.readrate_set.all|length == 0 %}glyphicon-star-empty{% else %}glyphicon-star{% endif%}"></span></a>
							</td>
							<td class="edit text-center"><a href="/myreadings/book/{{b.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
							<td class="delete text-center"><a onclick="javascript:b.deleteBook({{b.id}})"><span class="glyphicon glyphicon-remove"></span></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% csrf_token %}
			</div>
			<div class="col-sm-12">
				<ul class="pager">
					<li><a href="#" onclick="javascript:b.searchPrev();">&larr; Prev</a></li>
					<li>Page {{search_param.page}} of {{search_param.total_pages}}</li>
					<li><a href="#" onclick="javascript:b.searchNext();">Next &rarr;</a></li>
				</ul>
			</div>
		</div>

	</div>
	<!-- /.Left Col -->
	
	<!-- Right Col -->
	<div class="col-sm-3">
		<div class="panel panel-success" style="padding: 5px; display: none;" id="read-rate-book-panel">
			<div class="panel-heading">Read &amp; Rate!</div>
			<div class="panel-body">
				<table class="table table-condensed table-striped" id="read-rate-table"></table>
				<div class="form-horizontal">
					<input type="hidden" name="book-id" id="book-id" value="" />
					<div class="form-group">
						<label for="rr-year" class="control-label col-sm-4">Year:</label>
						<div class="form-group col-sm-8">
							<select id="rr-year" name="rr-year" class="form-control">
								{% for rroy in rr_options.year %}
								<option value="{{rroy}}">{{rroy}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="rr-month" class="control-label col-sm-4">Month:</label>
						<div class="form-group col-sm-8">
							<select id="rr-month" name="rr-month" class="form-control">
								{% for rrom in rr_options.month %}
								<option value="{{rrom.value}}">{{rrom.month_name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="rr-rate" class="control-label col-sm-4">Rate:</label>
						<div class="form-group col-sm-5">
							<select id="rr-rate" name="rr-rate" class="form-control">
								{% for r in rr_options.rate %}
								<option value="{{r}}">{{r}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6"><button type="button" class="btn btn-default col-sm-12" onclick="javascript:b.hideReadRateBook();">Undo</button></div>
						<div class="col-sm-6"><button type="button" class="btn btn-primary col-sm-12" onclick="javascript:b.readRateBook();">Save</button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-success" style="padding: 5px;" id="search-book-panel">
			<div class="panel-heading">Search</div>
			<div class="panel-body">
				<form class="form-horizontal" action="/myreadings/book/search/" id="book-search">
					<input type="hidden" name="page" id="page" value="{{search_param.page}}" />
					<input type="hidden" name="total-pages" id="total-pages" value="{{search_param.total_pages}}" />
					<div class="form-group">
						<label for="title" class="control-label col-sm-4">Title:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="title" name="title" value="{{search_param.title}}">
						</div>
					</div>
					<div class="form-group">
						<label for="author" class="control-label col-sm-4">Author:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="author" name="author" value="{{search_param.author}}">
						</div>
					</div>
					<div class="form-group">
						<label for="publisher" class="control-label col-sm-4">Publ.:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="publisher" name="publisher" value="{{search_param.publisher}}">
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary col-sm-12" type="button" onclick="javscript:b.search();"><span class="glyphicon glyphicon-search"></span> Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /.Right Col -->
	
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'myreadings/js/book.js' %}"></script>
{% endblock %}
